.gradle
.idea
agent/arcus-hal/hub-v2/out/
agent/arcus-hub-controller/out/
agent/arcus-reflex-controller/out/
agent/arcus-system/out/
agent/arcus-test-agent/out/
agent/arcus-zigbee-controller/out/
agent/arcus-zw-controller/out/
common/arcus-billing/out/
common/arcus-common/out/
common/arcus-drivers/groovy-bindings/out/
common/arcus-drivers/reflex-generator/out/
common/arcus-model/model-query/out/
common/arcus-model/out/
common/arcus-model/platform-client/out/
common/arcus-model/platform-client/src/generated/
common/arcus-model/platform-messages/out/
common/arcus-model/platform-messages/src/generated/
common/arcus-protoc/out/
common/arcus-protocol/out/
common/arcus-reflection/out/
common/protocol-generator/out/
common/protocol-generator/src/generated/
platform/arcus-containers/billing-callback-server/out/
platform/arcus-containers/client-bridge/out/
platform/arcus-containers/driver-services/out/
platform/arcus-containers/hub-bridge/out/
platform/arcus-containers/ipcd-bridge/out/
platform/arcus-containers/ivr-callback-server/out/
platform/arcus-containers/ivr-fallback-server/out/
platform/arcus-containers/notification-services/out/
platform/arcus-containers/platform-services/out/
platform/arcus-containers/rule-service/out/
platform/arcus-containers/subsystem-service/out/
platform/arcus-info/out/
platform/arcus-lib/kafka-stream/out/
platform/arcus-lib/out/
platform/arcus-log/out/
platform/arcus-modelmanager/out/
platform/arcus-oauth/out/
platform/arcus-platform-drivers/driver-tests/out/
platform/arcus-prodcat/out/
platform/arcus-rules/out/
platform/arcus-subsystems/out/
platform/arcus-test/out/
platform/bridge-common/out/
.secret/
tools/arcus-captools/out/
tools/eye-kat/out/
tools/oculus/out/
