
</td>
</tr>
<tr>
	<td style="padding: 0 30px 5px">
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td align="center" class="footercopy"
					style="font-family: 'AvenirNextRegular', sans-serif; font-size: 12px; color: #cccccc;">
					<p>For further details on your Iris System, please log into the
						Iris mobile app.</p>
					<p>
						Please do not reply to this email, as this email inbox is not
						monitored.
					</p>
				</td>
			</tr>
			</tbody>
		</table>
	</td>
</tr>
</table>
<!--[if (gte mso 9)|(IE)]>
          </td>
        </tr>
    </table>
    <![endif]-->
</td>
</tr>
</table>
</body>
</html>

</html>
