name: Tests
on: [push]
jobs:
  Test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 8
        uses: actions/setup-java@v2
        with:
           java-version: '8'
           distribution: 'adopt'
      - name: run tests
        run: ./gradlew test
